<div class="about-alpha__container">
  {{#each videos as |video|}}
    <a class="about-alpha__video" href="https://youtu.be/{{video.videoId}}" target="_blank" title="{{video.title}}">
      <img src="https://i.ytimg.com/vi/{{video.videoId}}/maxresdefault.jpg" class="about-alpha__thumbnail" alt="{{video.title}}" />
    </a>
  {{/each}}
</div>