<div class="banner adv-ad">
  <div class="tool adv-container">
    <div class="d-flex adv-row align-items-center">
      {{#each advertisements as |advertisement index|}}
        <a class="advertisement-item col-auto" href={{advertisement.link}} title={{advertisement.title}} target="_blank">
          <img src={{advertisement.image}} alt={{if advertisement.alt advertisement.alt advertisement.title}}>
        </a>
      {{/each}}
    </div>
  </div>
</div>
