<ol class="breadcrumb">
  <li class="breadcrumb-item">{{#link-to 'index'}}C.S.V. Alpha{{/link-to}}</li>

  {{#each routeHierarchy as |route|}}
    {{#if hasBlock}}
      {{yield this route}}
    {{else}}
      {{bread-crumb route=route breadCrumbs=this}}
    {{/if}}
  {{/each}}
</ol>
