<div class="alert flash-notice {{flashNoticeStatus}} {{if flashNoticeVisibility 'visible' 'hidden'}}">
  <div class="container-fluid">
    <div class="row justify-content-between align-items-center">
      <h5 class="flash-notice-content col-xs"> {{flashNoticeContent}} </h5>
      {{#if flashNoticeIsPermanent}}
        <FaIcon @icon='times' @click={{action "dismissFlashNotice"}}/>
      {{/if}}
    </div>
  </div>
</div>
