<div class="alert flash-notice {{flashNoticeStatus}} {{if flashNoticeVisibility 'visible' 'hidden'}}">
  <div class="container-fluid">
    <div class="row">
      <h5 class="flash-notice-content col-xs"> {{flashNoticeContent}} </h5>
      {{#if flashNoticeIsPermanent}}
        <i class="fa fa-times" aria-hidden="true" {{action "dismissFlashNotice"}}></i>
      {{/if}}
    </div>
  </div>
</div>
