<div class="menu-sidebar-item {{if minor 'sidebar-item-minor'}}">
  <span class="menu-sidebar-item-icon ">
    {{fa-icon icon fixedWidth=true}}
  </span>
  <span class="menu-sidebar-item-text {{if layoutManager.leftSideBarExpanded 'visible'}}"> {{title}} </span>
</div>
