<div class="row justify-content-md-between flex-wrap page-actions">
  <div class="col-12 col-md pl-0">
    {{#unless hideBreadCrumbs}}
      <BreadCrumbs @crumbClass="breadcrumb-item" @outputStyle="bootstrap" />
    {{/unless}}
  </div>
  {{#if (or pageActions hasBlock)}}
    {{#page-actions-buttons pageActions}}
      {{yield}}
    {{/page-actions-buttons}}
  {{/if}}
</div>
