<div class='alert alert-danger' role='alert' data-test-form-closed-alert>
  <div class='container'>
    <div class='row'>
      <strong class='col alert-text'>Je kunt niet reageren!</strong>
      <span class='alert-text'>Deze inschrijflijst
        {{lowercase (form-opened-label form)}}</span>
    </div>
  </div>
</div>