<p>Weet je zeker dat je deze informatie pagina wilt verwijderen?</p>

<button {{action "destroy"}} class="btn btn-danger" type="button">Ja</button>
<LinkTo @route="static-pages.show" @model={{model.id}} class="btn btn-default" @tagName="button">Nee</LinkTo>

{{#if errorMessage}}
  <div class="text-danger">{{this.errorMessage}}</div>
{{/if}}
