{{#ember-wormhole to="navbar-wormhole"}}
  {{#page-actions-buttons pageActions=pageActions}}
    {{filter-bar class="col-12 col-md" filter=search sortedAttribute=sortedAttribute sortableAttributes=sortableAttributes sortedAscending=sortedAscending  enter=(action "selectFirstItem")}}
  {{/page-actions-buttons}}
{{/ember-wormhole}}

{{#each groupedModel as |group|}}
  <div class="card">
    <div class="card-header">
      <h5> {{uc-words group.value}} </h5>
    </div>

    {{#each group.items as |staticPage|}}
      {{#link-to 'static-pages.show' staticPage}}
        <div class="row rtable-row">
          <span class="col"> {{staticPage.title}} </span>
        </div>
      {{/link-to}}
    {{/each}}
  </div>
{{/each}}
