<div class='card photo-album-card border-0' data-test-photo-album-card>
  <div class='card-header card-header--overlay'>
    <img
      alt='{{@album.title}}'
      src='{{@album.albumMediumUrl}}'
      class='card-img-rounded'
    />
    <div class='card-title-bar gradient-overlay-rounded'>
      <div class='card-titles'>
        <h2 class='card-title'>{{@album.title}}</h2>
        <h3 class='card-subtitle'>{{moment-format @album.date 'DD-MM-YYYY'}}</h3>
      </div>
    </div>
  </div>
</div>