.forum-post-author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.forum-footer {
  border-top: 1px solid $gray-200;
  background-color: $gray-100;
  padding-right: 30px;
  padding-bottom: 0;

  .forum-post-moderation-icon {
    padding-right: 10px;
    padding-left: 10px;
  }
}
