<div class="index-about-alpha mt-4 d-flex flex-column align-items-center position-absolute w-100 start-0 end-0">
  <h1 class="index-title">{{t 'component.index.public.aboutAlpha.slogan'}}</h1>
  <hr class="index-title-border border border-secondary border-3 opacity-100" />

  <p class="mt-3 text-center fs-3">{{t 'component.index.public.aboutAlpha.info'}}</p>
</div>