<article class='index-recent-news'>
  <h1>{{t 'component.index.public.aboutFlux.title'}}</h1>
  <div class='row'>
    <div class='col-md-7'>
      <p class='info-text'>
        {{t 'component.index.public.aboutFlux.info'}}
      </p>
    </div>
    <div class='col-md-5 flux-image-holder'>
      <img class='flux-image float-md-end' src='images/pakkerij.jpg' />
    </div>
  </div>
  <a
    class='float-md-end btn btn-primary'
    href='http://www.societeitflux.nl'
  >
    {{t 'component.index.public.aboutFlux.more'}}
  </a>
</article>