<div class='index-recent-news'>
  <h1> {{t 'component.index.public.articles.title'}} </h1>
  <div class='row'>
    {{#each @articles as |article index|}}
      {{#if (lt index 3)}}
        <div
          class='article-col col-lg-4 col-md-6
            {{if (eq index 2) "hidden-md-down"}}'
        >
          {{cards/article-card article showExcerpt=true useMaxHeight=true}}
        </div>
      {{/if}}
    {{/each}}
  </div>
  <LinkTo @route='articles'>
    <button class='btn btn-primary float-end' type='button'>
      {{t 'component.index.public.articles.more'}}
    </button>
  </LinkTo>
</div>