{{#if photoAlbums}}
  <div class='index-photo-albums'>
    <LinkTo @route='photo-albums'>
      <h1> {{capitalize (t 'model.photoAlbum.name.other')}} </h1>
    </LinkTo>
    <div class='row'>
      {{#each photoAlbums as |album index|}}
        {{#if (lt index amountOfAlbumsToShow)}}
          <div class='col-md-6'>
            <LinkTo @route='photo-albums.photo-album' @model={{album.id}}>
              {{cards/photo-album-card album}}
            </LinkTo>
          </div>
        {{/if}}
      {{/each}}
    </div>
    <LinkTo @route='photo-albums'>
      <span class='float-right btn frontpage-button'>
        {{t 'component.index.public.photos.more'}}
      </span>
    </LinkTo>
  </div>
{{/if}}