<div style="background-color: black" class="full-width">
  <div style="color: white" class="container text-xl">
    <p>{{t 'component.index.public.potentialMember.title'}}</p>
    <div class="info-text">
      <p style="margin-bottom: 0">{{t 'component.index.public.potentialMember.info'}}</p>
      <br>
    </div>
  </div>
</div>