<div class='bg-light full-width py-3'>
  <div class='container text-xl text-black'>
    <p>{{t 'component.index.public.potentialMember.title'}}</p>
    <div class='info-text'>
      <p class='mb-0'>
        {{html-safe (t 'component.index.public.potentialMember.info')}}
      </p>
      <br />
    </div>
  </div>
</div>