.photo-album-card {
  height: $photo-card-height;

  img {
    height: $photo-card-height;
  }

  &.public {
    margin-bottom: 1rem;
    // half of the allowed height - the social-buttons row
    // and that minus the bottom-margin
    height: calc(($public-activity-and-photo-holders-height - 3rem) / 2 - 1rem);

    img {
      height: calc(($public-activity-and-photo-holders-height - 3rem) / 2 - 1rem);
    }
  }

  .card-title {
    font-size: 1.5rem;
  }

  .album-tag-counter {
    position: absolute;
    bottom: 0;
    margin-right: 15px;
    margin-bottom: 1rem;
    padding-left: 5px;
  }
}
