// Basic colors
$brand-primary: #ffd218; //yellow
$brand-primary-dark: #e0b400; //dark yellow
$brand-secondary: #b9182c; //darkred
$brand-info: #6889cc; //blue
$brand-warning: #ff9904; //orange
$brand-success: #00af43; //green
$brand-danger: #ba211c; //red
$brand-hidden: #6c0894; //purple
$facebook-blue: #3b5998;
$youtube-red: #c00;

// grayscales (white to black)
$white: #fff;
$black: #000;

// transparent colors
$transparent: rgb(0 0 0 / 0%);
$opaque-black-tenth: rgb(0 0 0 / 10%);
$opaque-black-halfly: rgb(0 0 0 / 50%);
$opaque-black-two-thirds: rgb(0 0 0 / 66%);
$opaque-black-dark: rgb(0 0 0 / 90%);
$opaque-white-halfly: rgb(255 255 255 / 50%);
$brand-primary-transparent-halfly: rgb(255 210 24 / 30%);

$photo-card-height: 200px;

// also set the color scheme for Bootstrap
$theme-colors: (
  primary: $brand-primary,
  secondary: $brand-secondary,
  success: $brand-success,
  info: $brand-info,
  warning: $brand-warning,
  danger: $brand-danger,
  light: #efefef,
  dark: #333,
);

// link colors for tabs
$nav-link-color: $black;
$nav-link-hover-color: $brand-primary;

// color of active inputs
$component-active-bg: $brand-primary;
$btn-hover-bg-tint-amount: 25%;
$btn-hover-border-tint-amount: 20%;

// sizes
$image-input-max-height: 100pt;
$image-input-max-width: 600pt;
$navbar-height: 56px;

// padding of list-items
$list-group-item-padding-x: 1.25rem;
$list-group-item-padding-y: 0.75rem;

// color of table stripes
$table-striped-bg-factor: 0.03;

// colors of ember-power-select
$ember-power-select-border-color: #ced4da; // same as $gray-400
$ember-power-select-trigger-icon-color: #ced4da;
$ember-power-select-focus-border-color: mix($white, $component-active-bg, 50%);
$ember-power-select-focus-box-shadow: 0 0 0 .2rem rgba(255, 210, 24, .25);

// pixel value used to responsively scale all typography, applied to the `<html>` element.
$font-size-root: 15px;

$font-size-base: 1rem !default;
$font-size-lg: 1.25rem !default;
$font-size-sm: 0.875rem !default;
$font-size-xs: 0.75rem !default;

$font-size-h1: 2rem !default;
$font-size-h2: 1.8rem !default;
$font-size-h3: 1.6rem !default;
$font-size-h4: 1.4rem !default;
$font-size-h5: 1.1rem !default;
$font-size-h6: 1rem !default;

$card-profile-picture-small-size: 40pt;
$card-profile-picture-medium-size: 50pt;
$card-profile-picture-large-size: 80pt;

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$enable-flex: true;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 544px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1400px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 580px,
  md: 940px,
  lg: 1180px,
  xl: 1300px,
);

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 1.875rem; // 30px

// fonts
$font-family-sans-serif: 'nunito sans', 'Arial', sans-serif;
$font-family-serif: 'Georgia', 'Times New Roman', 'Times', serif;
$font-family-headers: 'nunito sans', 'Arial', sans-serif;
$font-weight-headers: 700;
$font-weight-nav-items: 700;
$font-family-monospace: 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;
