{{#if showCheckbox}}
  <td>
    <i class="fa fa-square-o"></i>
  </td>
{{/if}}

<td>
  {{#if (can 'destroy form/response')}}
    {{#if response.form.canRespond}}
      {{#link-to 'form.responses.destroy' response class="no-print"}}
        <i class="fa fa-trash"></i>
      {{/link-to}}
    {{/if}}
  {{/if}}

  {{#link-to 'users.show' response.user.id}}
    {{response.user.fullName}}
  {{/link-to}}
</td>

{{#each form.sortedQuestions as |question|}}
  <td>
    {{#each (get response.groupedAnswers question.id) as |answer|}}
      <p> {{ if answer.option answer.option.option answer.answer }} </p>
    {{/each}}
  </td>
{{/each}}

{{#if showAllergyInfo}}
  <td>
    {{response.user.foodPreferences}}
  </td>
  <td>
    {{boolean-tag response.user.vegetarian}}
  </td>
{{/if}}
