# See https://help.github.com/ignore-files/ for more about ignoring files.

###################
# Compiled output #
###################
/dist
/tmp

################
# Dependencies #
################
/node_modules
/bower_components

########
# Misc #
########
=======
/.env*
/.pnp*
/.sass-cache
/.eslintcache
/connect.lock
/coverage/
.npmrc
/.yarn/*
!/.yarn/patches
!/.yarn/releases
!/.yarn/plugins
!/.yarn/sdks
!/.yarn/versions

########
# Logs #
########
libpeerconnection.log
npm-debug.log*
yarn-error.log
testem.log

###############
# IDE Folders #
###############
/.idea/*

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
