{{#if activities}}
  <div class='card tool'>
    <div class='card-header'>
      <div class='d-flex justify-content-between'>
        <LinkTo @route='activities.index'>
          <h5 class='card-text'>Sluitende inschrijflijsten</h5>
        </LinkTo>
        <div class='col-xs-1 tool-actions'>
          <a href='#'>
            <FaIcon @icon='circle-question' class='link-highlight' />

            <BsPopover @triggerEvents='focus' @placement='bottom'>
              <div class='d-block'>
                <div class='status-dot badge-info'></div>
                Inschrijving open
              </div>
              <div class='d-block'>
                <div class='status-dot badge-success'></div>
                Ingeschreven / vrij toegankelijk
              </div>
              <div class='d-block'>
                <div class='status-dot badge-danger'></div>
                Niet ingeschreven
              </div>
              <div class='d-block'>
                <div class='status-dot badge-default'></div>
                Inschrijving nog niet open
              </div>
            </BsPopover>
          </a>
        </div>
      </div>
    </div>

    <ul class='list-group list-group-flush'>
      {{#each activities as |activity|}}
        <LinkTo @route='activities.show' @model={{activity.id}}>
          <li class='list-group-item'>
            <span class='activity-tool-title'> {{activity.title}} </span>
            <br />
            <span class='activity-tool-start-time text-muted'>
              {{form/status-dot activity.form}}
              {{form-opened-label activity.form}}
            </span>
          </li>
        </LinkTo>
      {{/each}}
    </ul>
  </div>
{{/if}}