<div class='card'>
  <div class='card-header'>
    <h5 class='card-text'> Kamelengrap van de dag </h5>
  </div>

  <div class='card-block pb-2'>
    <div class='card-body'>
      <i class='card-text'> {{camelJoke.joke}} </i>
      {{#if camelJoke.answer}}
        <footer class='blockquote-footer pt-2'>{{camelJoke.answer}}</footer>
      {{/if}}
    </div>
  </div>
</div>