<div class='card'>
  <div class='card-header'>
    <h5 class='card-text'> Bijbelvers van de dag </h5>
  </div>

  <div class='card-block pb-2'>
    {{#each verses as |verse|}}
      <div class='card-body'>
        <i class='card-text'> {{verse.content}} </i>
        <a
          href='https://www.debijbel.nl/bijbel/BGT/{{verse.reference}}'
          target='_blank'
          rel='noopener noreferrer'
        >
          <span class='card-text float-right pt-1'> {{verse.reference}} </span>
        </a>
        <footer class='blockquote-footer pt-2'>{{verse.copyright}}</footer>
      </div>
    {{/each}}
  </div>
</div>