<div class='card tool'>
  <div class='card-header'>
    <LinkTo @route='forum.index'>
      <h5 class='card-text'>Forum</h5>
    </LinkTo>
  </div>

  <ul class='list-group list-group-flush'>
    {{#each this.threads as |thread|}}
      <LinkTo
        @route='forum.categories.category.threads.thread.show'
        @models={{array thread.category.id thread.id}}
      >
        <li class='list-group-item'>
          <span>
            {{#unless thread.read}}
              <div class='new-forum-posts status-dot'></div>
            {{/unless}}
            {{#unless thread.isOpen}}
              <FaIcon @icon='lock' />
            {{/unless}}
            {{thread.title}}
          </span>
        </li>
      </LinkTo>
    {{else}}
      <li class='list-group-item'>
        Er zijn helaas geen forum topics!
      </li>
    {{/each}}
  </ul>
</div>