.presence-label {
  border-radius: 10rem;
  padding: 0.25em 0.6em;
  vertical-align: baseline;
  text-align: center;
  line-height: 1.5;
  white-space: nowrap;
  color: $white;
  font-size: 75%;
  font-weight: bold;
}

.room-presence-dropdown {
  color: $white;
}

.label-present {
  background-color: $brand-success;
}

.label-busy {
  background-color: $brand-warning;
}

.label-absent {
  background-color: $brand-danger;
}

.label-chilling {
  background-color: $brand-success;
}

.label-studying {
  background-color: $brand-warning;
}

.label-vergaderen {
  background-color: $brand-success;
}

.edit-presence {
  .edit-presence-row {
    margin: 5px;

    .delete-presence-button {
      padding: 0 5px;
    }
  }

  .presence-time-input {
    margin: 0;
    padding: 0;
  }
}
