<ol class='breadcrumb'>
  <li class='breadcrumb-item'><LinkTo @route='index'>C.S.V. Alpha</LinkTo></li>

  {{#each routeHierarchy as |route|}}
    {{#if (has-block)}}
      {{yield this route}}
    {{else}}
      <BreadCrumb @route={{route}} @breadCrumbs={{this}} />
    {{/if}}
  {{/each}}
</ol>