<div
  class='alert flash-notice
    {{flashNotice.status}}
    {{if flashNotice.visibility "visible" "hidden"}}'
>
  <div class='container-fluid'>
    <div class='row justify-content-between align-items-center'>
      <h5 class='flash-notice-content col-xs'> {{flashNotice.content}} </h5>
      {{#if flashNotice.isPermanent}}
        <FaIcon @icon='xmark' {{on 'click' flashNotice.dismiss}} />
      {{/if}}
    </div>
  </div>
</div>