<EmberWormhole @to="navbar-wormhole">
  <PageActionsButtons @pageActions={{pageActions}} />
</EmberWormhole>

<TabbedView @tabItems={{tabItems}}>
  <h5>Persoonlijke rechten</h5>
  <div class="table-responsive">
    <Permissions::PermissionsTable @modelPermissions={{model.userPermissions}} @inheritedPermissions={{model.permissions}} />
  </div>
</TabbedView>
