<div class='row'>
  <div class='col'>
    <div class='card'>
      <div class='card-header'>
        <h5>Contactsynchronisatie</h5>
      </div>
      <div class='card-body'>
        <p>
          Hier kan je alle informatie vinden voor de contactsynchronisatie. Met
          de contactsynchronisatie is het mogelijk om alle Alpha leden (die hier
          toestemming voor hebben gegeven) automatisch in je
          telefoon/contactenlijst toe te voegen. Hoe je deze gegevens kan
          synchroniseren verschilt per apparaat.
          <b>Hoe je dit kan instellen kan je vinden via Informatie -> Contacten
            Synchroniseren.</b>
        </p>
        <hr />

        {{#if webDavEnabled}}
          <p>
            Je persoonlijke contactsynchronisatie link staat hier onder. Voeg
            deze url toe aan je contacten om automatisch alle leden in je
            telefoon te hebben. Indien je contacten applicatie om een
            gebruikersnaam/wachtwoord vraagt kunt u hier gewoon iets invullen
            (bijvoorbeeld alpha/alpha).
          </p>

          <div class='alert alert-warning'>
            <b>
              Dit is een persoonlijke link en kan dus niet gedeeld worden met
              anderen.
            </b>
          </div>
          <p><code>{{webDavURL}}</code></p>

        {{else}}
          <div class='alert alert-danger'>
            <p>
              Je hebt de contactsynchronisatie nog niet geactiveerd. Als je
              gebruik wilt maken zal je deze eerst moeten activeren.
              <b>
                Door de contactsynchronisatie te activeren ga je er akkoord mee
                dat jouw gegevens (naam, adres, email, geboortedatum) ook in de
                contactsynchronisatie komen.
              </b>
            </p>

            <button
              class='btn btn-primary'
              {{action 'generateWebdavSecret'}}
              type='button'
            >Contactsynchronisatie activeren</button>
          </div>
        {{/if}}

      </div>
    </div>
  </div>
</div>