.basic-modal {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 6;
  background-color: $opaque-black-halfly;
  width: 100vw;
  height: 100vh;
}

.modal-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray-300;
  border-radius: .25rem .25rem 0 0;
  background: $gray-200;
}

.modal-image-header {
  display: block;
  margin: -15px -15px 15px;
  height: 280px;
}

.modal-body {
  max-height: 50vh;
  overflow-y: auto;
}
