.footer-holder {
  position: absolute;
  right: 0;
  left: 0;
  transition: padding-left 0.3s ease-in-out;
  background-color: $brand-primary;
  padding-left: 0;

  &.left-sidebar-open {
    padding-left: 120px;

    &.left-sidebar-expanded {
      padding-left: 250px;
    }
  }

  &.authenticated {
    background-color: $black;
  }
}

@include media-breakpoint-down(md) {
  .footer-holder {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    padding-left: 0;

    &.left-sidebar-open {
      transform: translateX(220px);
      padding-left: 0;

      &.left-sidebar-expanded {
        padding-left: 0;
      }
    }
  }
}

.footer {
  margin-top: 10px;
  padding: 20px;
  width: 100%;

  .table td {
    border: 0;
  }
}

.footer-header, .footer-text {
  color: $black;

  &.authenticated {
    color: $gray-200;
  }
}

.footer-table-cell {
  border-top: 0;
  color: $black;

  &.authenticated {
    color: $gray-200;
  }
}

.footer-bottom {
  margin-top: 10px;
  text-align: center;
}

.footer-bottom-text {
  color: $gray-900;

  &.authenticated {
    color: $gray-500;
  }
}
