.md-editor-and-toolbar {
  border: 1px solid $gray-200;
  border-radius: $card-border-radius;
}

.btn-toolbar {
  margin: 0;
  border: 0;
  border-radius: 4px 4px 0 0;
  padding-top: 4px;
  padding-bottom: 5px;
  width: inherit;

  .btn-group {
    margin-top: 5px;
    margin-left: 10px;
    border-bottom: 1px solid $gray-200;
    background-color: $gray-100;

    .btn {
      border: 0;
      border-radius: 0;
      background-color: $gray-100;
      color: $black;
    }
  }
}

.md-editor {
  border: 0;
}
