$animation-duration: 0.3s;
$animation-behaviour: ease-in-out;
$profile-menu-height: 360px;

.menu-sidebar {
  display: flex;
  position: fixed;
  flex-direction: column;
  transform: translateX(-72px);
  transition: transform $animation-duration $animation-behaviour,
    width $animation-duration $animation-behaviour;
  z-index: 1;
  background-color: #111;
  padding-top: 80px;
  padding-bottom: 20px;
  width: 72px;
  height: 100%;
  overflow-x: hidden;

  .menu-sidebar-item {
    display: flex;
    transition: color 0.15s ease-in-out;
    width: 300px;
    overflow: hidden;
    color: $gray-400;

    &:hover {
      color: $brand-primary;
    }
  }

  .menu-sidebar-item-icon {
    flex-shrink: 0;
    margin-left: 15px;
    outline: 0;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 1.2rem;
    overflow-y: hidden;
  }

  .profile-menu {
    transition: height $animation-duration $animation-behaviour;
    height: 0;
    overflow: hidden;

    &.open {
      height: $profile-menu-height;
    }
  }

  .static-pages-menu {
    transition: height $animation-duration $animation-behaviour;
    height: 0;
    overflow: hidden;

    &.open {
      height: 200px;
    }
  }

  .menu-sidebar-item-text {
    // transform: translateX(-40px);
    transition: transform $animation-duration $animation-behaviour,
      opacity $animation-duration $animation-behaviour;
    opacity: 0;
    margin-top: 7px;
    margin-right: 5px;
    margin-left: 10px;
    line-height: 25px;
    white-space: nowrap;
    pointer-events: none;

    &.visible {
      transform: translateX(0);
      opacity: 1;
      white-space: normal;
      pointer-events: all;
    }
  }

  .sidebar-item-minor {
    color: $gray-600;

    &:hover {
      color: $brand-primary;
    }
  }

  .expand-menu-sidebar-btn {
    bottom: 10px;

    svg {
      transform: rotate(0deg);
      transition: transform $animation-duration $animation-behaviour;
    }
  }

  &.left-sidebar-open {
    transform: translateX(0);
  }

  &.expanded {
    transform: translateX(-220px);
    width: 220px;

    &.left-sidebar-open {
      transform: translateX(0);
    }

    .expand-menu-sidebar-btn {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}

.menu-sidebar-item-popup {
  position: fixed;
  left: 90px;
  z-index: 999;
  border-radius: 5px;
  background: #111;
  padding: 0 15px;
  line-height: 40px;
  color: #fff;

  &::after {
    position: absolute;
    top: 10px;
    left: -20px;
    border: 10px solid transparent;
    border-right: 10px solid #111;
    width: 20px;
    height: 20px;
    content: '';
  }
}

.link {
  &.active {
    .menu-sidebar-item {
      color: $brand-primary;
    }

    .sidebar-item-minor {
      color: $brand-primary;
    }
  }
}

.menu-items-holder {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: -20px;
  padding-right: 20px;
  height: 100%;
}

.profile-menu-arrow, .static-pages-menu-arrow {
  align-self: center;
  transform: rotate(0deg) translateX(0);
  transition: transform $animation-duration $animation-behaviour,
    $animation-duration $animation-behaviour;
}

.profile-menu-open .profile-menu-arrow,
.static-pages-menu-open .static-pages-menu-arrow {
  transform: rotate(180deg) translateX(0);
}

.close-left-sidebar-panel {
  position: fixed;
  top: 0;
  left: 0;
  transition: visibility 0s, opacity $animation-duration $animation-behaviour;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  background-color: rgb(0 0 0 / 20%);
  cursor: pointer;
  width: 200vw;
  height: 100vh;
}

@media (max-width: #{map-get($grid-breakpoints, md)}) {
  .close-left-sidebar-panel {
    &.open {
      visibility: visible;
      opacity: 1;
    }
  }
}
