.header-nav {
  position: fixed;
  top: 0;
  transition: background-color 0.5s ease-in-out;
  z-index: 5;
  background-color: $brand-primary;
  width: 100vw;

  .navbar {
    flex-wrap: nowrap;

    &.public {
      border-bottom: 4px solid $brand-secondary;
    }
  }
}

.navbar-nav {
  height: $navbar-height;
  min-height: $navbar-height;
  overflow: hidden;

  .dropdown-toggle {
    align-self: center;
    height: fit-content;
  }
}

.navbar-contents-holder {
  align-items: center;
  width: calc(100% - 52px);
  height: $navbar-height;

  .public-navbar-button {
    position: relative;
    text-transform: uppercase;

    &.selected::before {
      position: absolute;
      top: 1.85rem;
      margin: 0 calc((100% - 2.65rem) / 2);
      border: 0.65rem solid transparent;
      border-bottom: 0.65rem solid $brand-secondary;
      content: "";
    }
  }
}

.navbar-overflow-wrapper {
  flex: 1;
  height: $navbar-height;
  max-height: $navbar-height;
  overflow: hidden;
}

.header-logo {
  transition: background-image 0.5s ease-in-out;
  margin: 0;
  background-image: url('/images/alphalogonotext.svg');
  background-size: contain;
  cursor: pointer;
  padding: 0;
  width: 40px;
  height: 40px;
}

.public-header-logo {
  position: absolute;
  top: 10px;
  right: calc(50% - 40px);
  left: calc(50% - 40px);
  z-index: 1;
  border: 4px solid $brand-secondary;
  border-radius: 50%;
  background-image: url('/images/alphalogonotextyellow.svg');
  background-size: contain;
  padding: 0;
  width: 80px;
  height: 80px;
}

.nav-item {
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
  color: $black;
}

.profile-button {
  float: right;
}

.profile-picture {
  height: 40px;
}

.btn-locale {
  transition: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 32px;
  height: 16px;
}

.left-sidebar-toggle {
  position: relative;
  font-size: 1.5rem;

  &.half-toggle {
    left: -24px;
    margin-right: -20px;
  }
}

.navbar-brand {
  margin-right: 0.5rem;
}

.public-navbar-button.dropdown-toggle[aria-expanded='true'] {
  z-index: 2;
  border: 2px solid $brand-secondary;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.public-about-us-dropdown {
  z-index: 1;
  border: 2px solid $brand-secondary;
  border-top-left-radius: 0;
  background-color: $brand-primary;
  padding: 0;

  .dropdown-item,
  .dropdown-item.active {
    border-radius: var(--bs-dropdown-border-radius);
    padding: 0.375rem 0.75rem;
    text-transform: capitalize;
  }

  .dropdown-item:hover,
  .dropdown-item.active:hover,
  .dropdown-item.active {
    background-color: tint-color($brand-primary, $btn-hover-bg-tint-amount); /* stylelint-disable-line function-no-unknown */
  }
}

.btn-inverse-locale-nl {
  background-image: url('/images/flag-locale-en.png');
}

.btn-inverse-locale-nl:active {
  background-image: url('/images/flag-locale-en.png');
}

.btn-inverse-locale-en {
  background-image: url('/images/flag-locale-nl.png');
}

.btn-inverse-locale-en:active {
  background-image: url('/images/flag-locale-nl.png');
}
