.pagination {
  border: 1px solid $gray-300;
  border-radius: 0.25rem;
  background: $white;
  height: inherit;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.page-item {
  .page-link {
    border: 0;
    background: 0;
    color: $opaque-black-two-thirds;

    &.previous,
    &.next {
      color: $gray-600;
    }
  }

  &.active {
    .page-link {
      border: 0;
      background: 0;
      color: $brand-secondary;
      font-weight: bold;
    }
  }

  &.disabled {
    .page-link {
      border: 0;
      background: 0;
      color: $opaque-black-halfly;
    }
  }
}
