.quickpost {
  .progress {
    max-height: 4px;

    .progress-bar {
      transition: background-color 0.3s ease-in-out, width 0.3s ease-in-out;
    }
  }
}

.qp-scroll-container {
  flex: 1;
  height: 100%;
  overflow-x: hidden; //when word breaks fail then still don't do horizontal scroll.
  overflow-y: scroll;
}

.btn-read-more {
  margin: 0.6rem 0;
}

.full-page-qp {
  display: flex;
  right: 0;
  flex-flow: column;
  padding-right: 20px;
  padding-left: 20px;
  height: 100%;
}

.qp-inputfield {
  margin: 0;
  outline: none;
  border: 0;
  padding: 0;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
  hyphens: auto;
  overflow-wrap: break-word;
  resize: none;
}

.emoticon-toggle {
  flex: 1;
  margin: 0;
  outline: none;
  padding: 0;
  width: 32px;
  color: $brand-primary-dark;
  font-size: $font-size-lg;
}

.text-emoticon-row {
  display: flex;
  padding-right: 0;
}

.emoticon-holder {
  padding: 10px;
  width: 15rem;

  .emoticon {
    text-align: center;
  }
}

.qp-message {
  &:hover .qp-destroy-icon {
    display: inline;
  }
}

.qp-destroy-icon {
  display: none;
}

.emoticon {
  cursor: pointer;
  padding: 2px 0;
  width: 20%;
  min-width: 20%;
  font-size: $font-size-lg;
}

.qp-characters-indicator {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;

  &.hidden {
    opacity: 0;
  }
}
