<article class="index-recent-news">
  <h1> {{t 'component.index.about.title'}} </h1>
  <div class="row">
    <div class="col-md-7">
      <p class="info-text">
        {{t 'component.index.about.info'}}
      </p>
    </div>
    <div class="col-md-5 flux-image-holder">
      <img class="flux-image" src="images/pakkerij.jpg">
    </div>
  </div>
  <a class="float-right btn frontpage-button" href="http://www.societeitflux.nl"> {{t 'component.index.about.more'}} </a>
</article>
