.btn-primary {
  font-weight: bold;
}

.btn-default {
  border: 1px solid $gray-400;
  background-color: $white;
  color: $black;

  &:hover {
    background-color: $gray-200;
    color: $black;
  }
}
