$card-box-shadow: 0 0 12px 0 rgb(50 50 50 / 20%);
$card-border: 0 solid $gray-300;

.tag-holder {
  margin-right: 1.25rem;
}

.card-body {
  border: 0;
  padding: 0.75rem 0.8rem 0.2rem;
}

.card {
  @include border-radius($card-border-radius);

  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: $card-spacer-y;
  border: $card-border;
  box-shadow: $card-box-shadow;
  word-wrap: break-word;

  &:hover {
    text-decoration: none;
    color: $black;
  }
}

.card-text {
  word-wrap: break-word;

  img {
    max-width: 100%;
  }
}

.card-title-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-bottom: 8px;
  width: 100%;

  .profile-picture-margin {
    margin-left: 5px;
  }

  .card-titles {
    margin-top: 0.8rem;
  }

  .card-title {
    font-size: 1.5rem;
  }

  .card-subtitle {
    font-size: 1rem;
  }

  .card-subtitle-link:hover {
    color: $brand-primary;
  }
}

.card-header {
  border: 0;
  background-color: $white;
  padding: 0.8rem;

  h5 {
    margin-bottom: 0;
  }

  &.card-header-with-tabs {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
  }

  &.card-header--no-overlay {
    display: flex;

    .card-titles {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      max-height: 69pt;
      overflow: hidden;
    }

    .card-title {
      margin: 0;
      padding: 0;
      overflow: hidden;
      vertical-align: middle;
      color: $black;
    }

    .card-subtitle {
      margin-top: 1px;
      color: $opaque-black-two-thirds;
    }

    .card-subtitle-link {
      color: $opaque-black-halfly;
    }

    .gradient-overlay {
      background: transparent;
      filter: none;
    }
  }

  &.card-header--overlay {
    position: relative;
    border: 0;
    border-radius: 4px 4px 0 0;
    padding: 0;
    width: 100%;
    height: auto;
    color: $white;

    .card-title-bar {
      position: absolute;
      bottom: 0;
      padding: 0.8rem;
      min-height: 5rem;

      &.without-subtitle {
        min-height: max-content;
      }
    }

    .card-title {
      margin-bottom: 0;
      color: $white;
    }

    .card-subtitle {
      margin-top: 2px;
      color: $opaque-white-halfly;
      font-size: 1rem;
    }

    .card-subtitle-link {
      color: $opaque-white-halfly;
    }
  }
}

.card-subheader {
  color: $gray-900;
}

.card-subheader-row {
  border-bottom: 1px solid $gray-200;
  width: 100%;

  .card-subheader-item {
    border-right: 1px solid $gray-200;
    border-bottom: 1px solid $gray-200;
    color: $gray-600;

    &:last-child {
      border-right: 0;
    }
  }
}

.card-sub-bottom-row {
  border-top: 1px solid $gray-200;
  width: 100%;

  .card-sub-item {
    color: $gray-600;
  }
}

%gradient-overlay {
  background: linear-gradient(
    to bottom,
    $transparent 0%,
    $opaque-black-two-thirds 100%
  );
}

.gradient-overlay {
  @extend %gradient-overlay;
}

.gradient-overlay-rounded {
  @extend %gradient-overlay;

  border-radius: 0.25rem;
}

.card-subtitle {
  margin-top: calc($card-spacer-y / -2);
  margin-bottom: 0;
}

.card-footer {
  border-top: 0;
  background-color: $white;
  padding: 0.75rem 0.8rem;
  color: $gray-900;
}

.card-img {
  @include border-radius(0.25rem);

  .card-img-top-small {
    height: 100pt;
  }

  .card-img-bottom {
    @include border-radius(0 0 0.25rem 0.25rem);
  }
}

.card-img-top {
  @include border-radius(0.25rem 0.25rem 0 0);

  width: 100%;
  min-height: 100px;
  object-fit: cover;
}

.card-img-rounded {
  @include border-radius(0.25rem 0.25rem 0.25rem 0.25rem);

  border: 0;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.card-img-overlay-rounded {
  margin-bottom: -2px;
  border-radius: 0.25rem;
}
