// Customize the label
.form-check-label {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  padding-right: 12px;
  padding-left: 35px;
  user-select: none;

  // Hide the browser's default checkbox
  input {
    position: absolute;
    opacity: 0;

    &:checked ~ .custom-radiobutton {
      border: 1px solid $brand-primary;
      background-color: $brand-primary;
    }

    &:checked ~ .custom-radiobutton::after {
      display: block;
    }

    &:hover ~ .custom-radiobutton {
      border: 1px solid $brand-primary;
      background-color: $brand-primary;
    }

    &:checked ~ .custom-checkmark {
      border: 1px solid $brand-primary;
      background-color: $brand-primary;
    }

    &:checked ~ .custom-checkmark::after {
      display: block;
    }

    &:hover ~ .custom-checkmark {
      border: 1px solid $brand-primary;
      background-color: $brand-primary;
    }
  }

  // Create a custom checkbox
  .custom-checkmark,
  .custom-radiobutton {
    position: absolute;
    top: 2px;
    left: 3px;
    border: 1px solid $gray-300;
    background-color: $white;
    width: 18px;
    height: 18px;

    // Create the checkmark/indicator
    &::after {
      display: none;
      position: absolute;
      top: 2px;
      left: 6px;
      transform: rotate(45deg);
      border: solid $white;
      border-width: 0 2px 2px 0;
      width: 5px;
      height: 10px;
      content: '';
    }
  }

  .custom-checkmark {
    border-radius: 4px;
  }

  .custom-radiobutton {
    border-radius: 50%;
  }
}

.input-checkmark {
  margin-top: -4px;
}
