.form-actions {
  margin-top: 10px;
}

.create-new-question {
  background-color: $gray-100;
}

legend {
  font-size: 1rem;
  font-weight: bold;
}

.vertical-label {
  font-size: 1rem;
  font-weight: bold;
}

.responses-table {
  table {
    margin-bottom: 0;
  }

  tfoot tr {
    background-color: $gray-100;
  }

  tfoot th {
    border-top: 2px solid $gray-200;
    font-weight: normal;
  }
}

.pika-single {
  border-radius: 4px;
}

.pika-lendar {
  border-radius: 4px;

  .is-today .pika-button {
    color: $brand-secondary;
  }

  .pika-button:hover {
    box-shadow: none;
    background-color: $brand-secondary;
    color: $white;
  }

  .is-selected .pika-button {
    box-shadow: none;
    background-color: $brand-secondary;
    color: $white;
  }
}

.page-actions-buttons {
  display: flex;
  align-items: center;
  height: $navbar-height;

  .input-group-text {
    border: 0;
    background-color: tint-color($brand-primary, 50%);
  }

  .filter-bar-filter {
    // margin-right: 1px;
    margin-left: 0;
    border: 0;
    background-color: tint-color($brand-primary, 50%);
    padding: 0;
    padding-left: 12px;
  }

  .input-group button {
    border: 0;
    background-color: tint-color($brand-primary, 50%);
  }

  .form-check {
    .form-control {
      position: absolute;
    }
  }
}
