$lustrum-navyblue: #1e2759;
$lustrum-steelblue: #548897;
$lustrum-yellow: #ffc10b;
$lustrum-red: #f26b6b;
$lustrum-white: #f2f2f2;

.app.lustrum {
  margin-bottom: -50px;
  background-color: $lustrum-white;
  padding-bottom: 100px;
  font-family: 'Raleway', $font-family-sans-serif; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
}

.lustrumcard {
  margin-bottom: 50px;

  .lustrumcard-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lustrumcard-logo {
    margin: 40px;
    margin-left: 0;
    max-height: 250px;
  }

  .lustrumcard-titles {
    margin: 50px 0;
  }

  .lustrumcard-title {
    margin: 0;
    line-height: 100px;
    color: $lustrum-navyblue;
    font-size: 110px;
    font-weight: 500;
  }

  .lustrumcard-subtitle {
    margin: 0;
    color: $lustrum-steelblue;
    font-size: 50px;
    font-weight: 200;
  }

  .lustrumcard-line {
    margin-top: -40px;
    margin-bottom: 20px;
    width: 100%;
  }

  .lustrumcard-text {
    text-align: justify;
    font-size: 16px;

    &.text-enlarged {
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.lustrumactivities {
  .lustrumactivities-title {
    font-size: 40px;
  }
}

.lustrumbar {
  overflow: hidden;

  &.lustrumbar-expandable {
    .lustrumbar-header:hover,
    .lustrumbar-button:hover {
      cursor: pointer;
    }
  }

  &.lustrumbar-steelblue .lustrumbar-header {
    background-color: $lustrum-steelblue;
  }

  &.lustrumbar-navyblue .lustrumbar-header {
    background-color: $lustrum-navyblue;
  }

  &.lustrumbar-yellow .lustrumbar-header {
    background-color: $lustrum-yellow;
    color: #000;
  }

  &.lustrumbar-red .lustrumbar-header {
    background-color: $lustrum-red;
  }

  &.lustrumbar-red,
  &.lustrumbar-yellow {
    .lustrumbar-button {
      background-color: $lustrum-steelblue;
    }
  }

  &.lustrumbar-navyblue,
  &.lustrumbar-steelblue {
    .lustrumbar-button {
      background-color: $lustrum-red;
    }
  }

  .lustrumbar-header {
    transform: rotate(-2deg);
    margin: 20px -10px 0;
    padding: 20px 40px;
    color: $lustrum-white;
  }

  .lustrumbar-titles {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > * {
      margin: 0;
      font-size: 30px;
    }
  }

  .lustrumbar-block {
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    transform: rotate(-2deg);
    padding: 5px 25px;
  }

  .lustrumbar-button {
    transform: rotate(2deg);
    margin-top: -20px;
    margin-left: 20px;
    border: solid 5px $lustrum-white;
    border-radius: 30px;
    padding: 10px 15px;
    text-align: center;
    color: $lustrum-white;
    font-weight: bold;
  }

  .lustrumbar-subheader {
    margin-top: -15px;
    margin-bottom: 5px;
    text-align: right;
    font-weight: bold;
  }

  .lustrumbar-subheader-item {
    display: inline-block;
    margin-left: 15px;

    > svg {
      margin-right: 3px;
    }
  }

  .lustrumbar-extention {
    text-align: justify;
  }
}

@media (max-width: #{map-get($grid-breakpoints, xl)}) {
  .lustrumcard {
    .lustrumcard-logo {
      margin: 25px;
      max-height: 200px;
    }

    .lustrumcard-titles {
      margin: 10px;
    }

    .lustrumcard-title {
      line-height: 75px;
      font-size: 75px;
    }

    .lustrumcard-subtitle {
      font-size: 34px;
    }
  }
}

@media (max-width: #{map-get($grid-breakpoints, lg)}) {
  .lustrumcard {
    .lustrumcard-logo {
      margin: 25px;
      max-height: 150px;
    }

    .lustrumcard-titles {
      margin: 10px;
    }

    .lustrumcard-title {
      line-height: 50px;
      font-size: 55px;
    }

    .lustrumcard-subtitle {
      font-size: 25px;
    }
  }

  .lustrumbar {
    .lustrumbar-titles > * {
      font-size: 25px;
    }

    .lustrumbar-button {
      margin-right: -15px;
    }
  }
}

@media (max-width: #{map-get($grid-breakpoints, md)}) {
  .lustrumactivities .lustrumactivities-list {
    padding: 0;
  }

  .lustrumbar {
    .lustrumbar-titles > * {
      font-size: 20px;
    }

    .lustrumbar-button {
      border-width: 3px;
      padding: 5px 10px;
      font-size: 15px;
    }

    .lustrumbar-header {
      padding: 20px 30px;
    }

    .lustrumbar-extention {
      padding: 0 10px;
    }

    .lustrumbar-subheader {
      margin-top: -5px;
    }
  }
}

@media (max-width: #{map-get($grid-breakpoints, sm)}) {
  .lustrumcard {
    .lustrumcard-header {
      margin-bottom: 40px;
    }

    .lustrumcard-logo {
      margin: 10px;
      max-height: 75px;
    }

    .lustrumcard-titles {
      margin: 10px;
    }

    .lustrumcard-title {
      line-height: 31px;
      font-size: 31px;
    }

    .lustrumcard-subtitle {
      font-size: 14px;
    }
  }
}
