%profile-picture {
  @include border-radius(50%);

  object-fit: cover;
  padding: 0;
}

.profile-picture {
  @extend %profile-picture;
}

.profile-picture-margin {
  @extend %profile-picture;

  margin-right: 10px;
}

.profile-picture-small {
  width: $card-profile-picture-small-size;
  min-width: $card-profile-picture-small-size;
  height: $card-profile-picture-small-size;
  min-height: $card-profile-picture-small-size;
}

.profile-picture-medium {
  width: $card-profile-picture-medium-size;
  min-width: $card-profile-picture-medium-size;
  height: $card-profile-picture-medium-size;
  min-height: $card-profile-picture-medium-size;
}

.profile-picture-large {
  width: $card-profile-picture-large-size;
  min-width: $card-profile-picture-large-size;
  height: $card-profile-picture-large-size;
  min-height: $card-profile-picture-large-size;
}

.link-to {
  .profile-picture {
    width: 50px;
    height: 50px;
  }
}
