.table {
  max-width: inherit;
  overflow: hidden;
  overflow-x: scroll;

  th {
    background-color: $gray-100;

    h1,
    h2,
    h3,
    h4,
    h5 {
      margin-bottom: 0;
    }
  }

  thead .narrow {
    padding-right: 0;
    padding-left: 0;
  }

  .profile-picture {
    margin-right: 20px;
  }

  .form-list {
    list-style-type: circle;
    margin: 0;
    padding: 0;
    padding-left: 20px;
  }
}

.max-scale-block {
  display: block;
  width: 100%;
  height: 100%;
}

// Monkeypatch responsive tables from v4.0
/* stylelint-disable max-nesting-depth */
.table-responsive {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        display: block;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057
        overflow-x: auto;
        width: 100%;

        // Prevent double border on horizontal scroll due to use of `display: block;`
        &.table-bordered {
          border: 0;
        }
      }
    }
  }
}
/* stylelint-enable max-nesting-depth */
