

@media (min-width: #{map-get($grid-breakpoints, md)}) {
  %active-nav-link {
    margin-right: -1px;
    border: 1px solid $gray-200;
    border-right: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }

  .vertical-tabs-md {
    border-right: 1px solid $gray-200;
    border-bottom: 0;
    background-color: $gray-100;
    height: 100%;

    .nav-link {
      &.active {
        @extend %active-nav-link;
      }

      &:hover {
        @extend %active-nav-link;

        background-color: $gray-200;
        color: $black;
      }
    }
  }
}

