<p>Weet je zeker dat je deze comment ({{model.content}}) wilt verwijderen?</p>

<button {{action "destroy"}} class="btn btn-danger">Ja</button>
{{#link-to "photo-albums.photo-album" model.photo class="btn btn-default" tagName="button"}}Nee{{/link-to}}

{{#if errorMessage}}
  <div class="text-danger">{{errorMessage}}</div>
{{/if}}
