<p>Weet je zeker dat je deze comment ({{@model.content}}) wilt verwijderen?</p>

<button {{action "destroy"}} class="btn btn-danger" type="button">Ja</button>
<LinkTo @route="photo-albums.photo-album" @model={{@model.photo}} class="btn btn-default" @tagName="button">Nee</LinkTo>

{{#if errorMessage}}
  <div class="text-danger">{{this.errorMessage}}</div>
{{/if}}
