<table class='table table-sm'>
  <thead>
    <tr>
      <td>Model</td>
      <td colspan='4'>Rechten</td>
    </tr>
  </thead>
  <tbody>
    {{#each groupedPermissions as |group|}}
      <tr>
        <td scope='row'>{{group.model}}</td>
        {{#each group.permissions as |permission|}}
          <td>
            {{permissions/permissions-table-item
              permission
              modelPermissions
              editable
              inheritedPermissions
            }}
          </td>
        {{/each}}
        {{#unless (eq group.permissions.length 4)}}
          <td colspan='4-{{group.permissions.length}}'></td>
        {{/unless}}
      </tr>
    {{/each}}
  </tbody>
</table>