<div class='row-cols-12 chess'>
  <div class='card'>
    <div class='card-body container'>
      <h1 class='card-title'>Schaken</h1>
      <div class='row'>
        <div class='col-lg-7 col-12'>
          <h2>Bord</h2>
          <div
            class='col p-0 border-box'
            style='aspect-ratio: 1; position: relative;'
          >
            <div class='w-100 h-100' style='position: absolute;'>
              {{#each this.board.squares as |row|}}
                <div class='row m-0 mw-100'>
                  {{#each row as |square|}}
                    <Sog::Chess::Square @square={{square}} />
                  {{/each}}
                </div>
              {{/each}}
            </div>
          </div>
        </div>
        <div class='col ml-lg-3 mt-4 mt-lg-0 chess-game-info'>
          <h2>Info</h2>
          {{#each this.board.players as |player|}}
            {{#if player.captures.length}}
              <div class='my-3'>
                <p>Stukken geslagen door {{player.name}}</p>
                <div class='row'>
                  {{#each player.captures as |capture|}}
                    <div class='col-1 p-0 chess-piece-container'>
                      <FaIcon
                        @icon={{capture.icon}}
                        class='w-75 chess-piece text-{{capture.variant}}'
                        style='stroke: black;'
                      />
                      <!-- todo: order captures from high to low value -->
                    </div>
                  {{/each}}
                </div>
              </div>
            {{/if}}
          {{/each}}
          <!--todo: add info about moves made, pieces captured, (eval?), etc-->
        </div>
      </div>
    </div>
  </div>
</div>