<div class="row chess">
  <div class="card col-12">
    <div class="card-body" style=" aspect-ratio: 1; display: flex; flex-direction: column;">
      <h2 class="card-title" >Schaken</h2>
      {{#each this.board.squares as |row|}}
        <div class="row" style="display: flex; flex-direction: row; flex: 1; width: 100%;">
          {{#each row as |square|}}
            <Sog::Chess::Square @square={{square}}></Sog::Chess::Square>
          {{/each}}
        </div>
      {{/each}}
      <p class="card-text"></p>
    </div>
  </div>
</div>