<div class='row-cols-12 chess'>
  <div class='card'>
    <div class='card-body container'>
      <h1 class='card-title'>Schaken</h1>
      <div class='row'>
        <div class='col-lg-7 col-10'>
          <h2>Bord</h2>
          <div class='col p-0' style='aspect-ratio: 1; position: relative;'>
            <div class='w-100 h-100' style='position: absolute;'>
              {{#each this.board.squares as |row|}}
                <div class='row m-0 mw-100'>
                  {{#each row as |square|}}
                    <Sog::Chess::Square @square={{square}} />
                  {{/each}}
                </div>
              {{/each}}
            </div>
          </div>
        </div>
        <div class='col-lg-5 col-10 chess-game-info'>
          <h2>Info</h2>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>
  </div>
</div>