<h1>Studie Ontwijkend Gedrag</h1>
{{#if (can 'show sog/name-trainer')}}
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Namen leren</h2>
      <p class="card-text">
        Weet je de namen van alle eerstejaars nog steeds niet? Hoe heette die oude lul die af en toe aan de korte zijde
        van de bar hangt ook alweer. Voor alle leden die moeite hebben met het onthouden van namen is er de namen
        trainer. Leer op een makkelijke manier de namen van alle leden kennen!
      </p>
    </div>
    <div class="card-footer text-right">
      <LinkTo @route="sog.name-trainer" class="btn btn-primary">Begin met oefenen!</LinkTo>
    </div>
  </div>
{{/if}}
