<div class="public-index-sponsors-banner full-width p-4 pb-2 d-flex flex-column align-items-center">
  <AdvertisementTool />
  <LinkTo @route='static-pages.show' @model='sponsoring' class="potential-sponsor-text mt-2">
    {{t 'component.public.index.sponsors.potential-sponsor'}}
  </LinkTo>
</div>