<div class="row">
  <div class="col-12 col-md-8 col-lg-9">
    <h1 class="text-xl"> {{t 'component.index.public.aboutAlpha.slogan'}} </h1>
    <p class="info-text">
      {{t 'component.index.public.aboutAlpha.info'}}
    </p>

    <LinkTo @route="static-pages.show" @model="c-s-v-alpha" class="btn btn-lg frontpage-button--light mr-3">{{t 'component.index.public.aboutAlpha.button'}}</LinkTo>
    <a target="_blank" href="https://studiegids.nl/studentenverenigingen/christelijke-studenten-vereniging-alpha-in-enschede/" class="btn btn-lg frontpage-button--light">
      {{t 'component.index.public.aboutAlpha.studiegids'}}
    </a>
  </div>

  <SocialMediaButtons @class="col-xs col-md-4 col-lg-3 social-buttons" />
</div>