.public-index-sponsors-banner {
  background: linear-gradient(90deg, rgba(0 0 0 / 40%) 0%, $brand-secondary 100%), $brand-secondary;
  height: fit-content;

  .advertisement-tool {
    padding: 5px 0;

    .advertisement-item {
      border-radius: 0.375rem;
      background-color: $white;
      padding: 3px;
      height: 100%;

      // stylelint-disable selector-max-compound-selectors
       > * {
        width: calc(100% - 6px);
        height: calc(100% - 6px);
        object-fit: contain;
        object-position: center;
      }
      // stylelint-enable selector-max-compound-selectors
    }
  }

  .potential-sponsor-text {
    text-align: center;
    color: $brand-cream;
    font-weight: bold;
  }
}