.public-index-videos-section {
  background: linear-gradient(90deg, rgba(0 0 0 / 40%) 0%, $brand-secondary 100%), $brand-secondary;

  .videos-section-wrapper {
    margin-right: auto;
    margin-left: auto;
  }
}