<div class="card">
  <div class="card-header">
    <h5>{{if model.isNew "Poll aanmaken" "Poll wijzigen"}}</h5>
  </div>
  <div class="card-body">
    <form {{action "submit" on="submit"}}>
      {{poll/poll-form model.form}}

      {{#model-form/form-actions errors=combinedErrors errorMessage=errorMessage}}
        {{#link-to "polls.show" model class="btn btn-default"}}Annuleren{{/link-to}}
      {{/model-form/form-actions}}
    </form>
  </div>
</div>
