<p class='card-text'>
  <MdEditor @content={{content}} @textareaId='newForumPost' />
</p>
<div class='card-footer'>
  <div class='row justify-content-end'>
    <a href='#' class='btn btn-default' {{action 'cancel'}}>Annuleren</a>
    <a href='#' class='btn btn-secondary' {{action 'save'}}>Opslaan</a>
  </div>
</div>