<div class="card">
  <div class="card-header">
    <h5> Topic verwijderen </h5>
  </div>
  <div class="card-body">
    <p class="card-text">
      Weet je zeker dat je dit forumtopic ({{model.title}}) wilt verwijderen?
    </p>
    {{#if errorMessage}}
      <div class="text-danger">{{errorMessage}}</div>
    {{/if}}
  </div>
  <div class="card-footer">
    <button {{action 'destroy'}} class="btn btn-danger">Ja</button>
    {{#link-to "forum.categories.category.threads.thread.show" model class="btn btn-default" tagName="button"}}Nee{{/link-to}}
  </div>
</div>
