<div class='col p-0 chess-square bg-{{this.color}}'>
  {{#if @square.piece}}
    <FaIcon
      @icon={{this.pieceIcon}}
      class='w-75 text-{{this.pieceColor}}'
      style='aspect-ratio: 1; height: auto; stroke: {{this.strokeColor}};'
    />
  {{/if}}
</div>