{{#ember-wormhole to="navbar-wormhole"}}
  {{#page-actions-buttons pageActions=pageActions}}
    {{filter-bar class="col-12 col-md" filter=search sortedAttribute=sortedAttribute sortableAttributes=sortableAttributes sortedAscending=sortedAscending }}
  {{/page-actions-buttons}}
{{/ember-wormhole}}

<div class="row">
  {{#each pagedModel as |album|}}
    <div class="col-md-6">
      {{#link-to 'photo-albums.photo-album' album}}
        {{cards/photo-album-card album}}
      {{/link-to}}
    </div>
  {{else}}
    <div class="col-md-12">
      <div class="alert alert-warning">
        Geen foto-albums gevonden
      </div>
    </div>
  {{/each}}
</div>

<div class="row justify-content-center">
  {{page-numbers content=paginator}}
</div>
