<div class="public">
  <Public::Header
    @imageUrl="/images/pakkerij.jpeg"
    @title="{{t 'component.public.flux.header'}}"
    @introTitle="{{t 'component.public.roomForum.intro-title'}}"
    @intro="{{t 'component.public.flux.intro'}}"
  />
</div>