.card-body {
  background-color: $gray-900;
}

.card {
  &:hover {
    color: $white;
  }
}

.card-header {
  background-color: $gray-900;

  &.card-header--no-overlay, &.card-header--overlay {
    .card-title {
      color: $white;
    }

    .card-subtitle {
      color: $opaque-white-halfly;
    }

    .card-subtitle-link {
      color: $opaque-white-halfly;

      &:hover {
        color: $brand-primary-dark;
      }
    }
  }
}

.card-subheader-row {
  background-color: $gray-900;

  .card-subheader-item {
    border-right: 1px solid $gray-800;
    border-bottom: 1px solid $gray-800;
    color: $gray-400;
  }
}

.card-footer {
  background-color: $gray-900;
  color: $gray-100;
}
