<div class="card tool">
  <div class="card-header">
    <LinkTo @route="polls.index">
      <h5 class="card-text">Polls</h5>
    </LinkTo>
  </div>

  <ul class="list-group list-group-flush">
    {{#each polls as |poll|}}
      <LinkTo @route="polls.show" @model={{poll.id}}>
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <span>
              {{#if poll.currentUserCanRespond}}
                <div class="new-forum-posts status-dot"></div>
              {{/if}}
              {{poll.question.question}}
            </span>
            <span class="float-xs-right"> {{poll.form.amountOfResponses}} </span>
          </div>
        </li>
      </LinkTo>
    {{else}}
      <li class="list-group-item">
        Er zijn helaas geen recente polls!
      </li>
    {{/each}}
  </ul>
</div>
