<div class="static-page-list">
  <div class="container">
    <ul class="list-inline">
      {{#each staticPages as |static-page|}}
        <LinkTo @route="static-pages.show" @model=<StaticPage />>
          <li class="list-inline-item"> <h3> <static-page.title /> </h3> </li>
        </LinkTo>
      {{/each}}
    </ul>
  </div>
</div>
