<p>Weet je zeker dat je dit mail-alias ({{model.email}})  wil verwijderen?</p>

<button {{action "destroy"}} class="btn btn-danger">Ja</button>
{{#link-to "mail-aliases.show" model class="btn btn-default" tagName="button"}}Nee{{/link-to}}

{{#if errorMessage}}
  <div class="text-danger">{{errorMessage}}</div>
{{/if}}
