.article-cards-wrapper {
  overflow: hidden;
}

.horizontal-scroll-container {
  flex-wrap: nowrap;
  margin-bottom: -15px;
  padding-bottom: 15px;
  width: inherit;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
