$header-height: 450px;

.text-xl {
  padding-top: 20px;
  width: 100%;
  letter-spacing: 0.1rem;
  color: $black;
  font-size: 2.5rem;
  font-weight: 700;
}

.info-text {
  font-size: 1.3rem;
  font-weight: 200;
}

@media (max-width: #{map-get($grid-breakpoints, md)}) {
  .text-xl {
    font-size: 2rem;
  }
}

.index-header {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -44px;
  height: $header-height;
  color: $white;

  .index-poster, .index-poster-overlay {
    position: absolute;
    top: 56px;
    left: 50%;
    margin-top: -$navbar-height;
    margin-left: -50vw;
    width: 100vw;
    height: $header-height;
  }

  .index-poster {
    background-position: bottom;
    background-size: cover;
  }
  
  .index-poster-overlay {
    opacity: 0.45;
    background-color: $black;
  }

  .image {
    width: 100%;
    max-width: min(350px, 70vw);
  }

  .banner-slogan {
    text-align: center;
    text-transform: uppercase;
    line-height: 6rem;
    font-family: 'Advent Pro', sans-serif;
    font-size: 4rem;
    font-weight: 500;

    span {
      font-size: 6rem;
    }
  }

  .frontpage-button {
    width: 14rem;
    text-transform: uppercase;
  }

  * {
    z-index: 1;
  }
}

@include media-breakpoint-only(xs) {
  .index-header {
    padding-top: 1rem;
    padding-bottom: 2rem;
    height: fit-content;

    .index-poster, .index-poster-overlay {
      height: 100%;
    }
  }
}

.index-yellow-bar {
  margin-top: 0;
  background-color: $brand-primary;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
}

.index-recent-news {
  margin-top: 40px;
  margin-bottom: 90px;
}

.index-sidebar {
  margin-top: calc(40px + 2.5rem);
}

.index-action-buttons {
  margin: 50px 0;
  background-color: $gray-100;
  padding-top: 40px;
  padding-bottom: 20px;
  color: $gray-900;
  font-size: 1.2rem;
  font-weight: 200;

  .info-holder {
    @include media-breakpoint-down(lg) {
      font-size: 1.1rem;
    }

    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding-bottom: 20px;

    p {
      flex: 1;
    }
  }
}

.index-photo-albums {
  margin-bottom: 90px;
}

.index-promo-video {
  margin-top: 50px;
  margin-bottom: 50px;
}

.flux-image-holder {
  margin-bottom: 10px;
  object-fit: cover;
}

.static-page-list {
  background-color: $gray-300;
  padding: 2rem 40px 1rem;
  color: $gray-900;

  h3 {
    margin-right: 20px;
    font-size: 1.2rem;
    font-weight: 200;
  }
}

.index-special-promo {
  background-color: $black;
  padding: 4rem;
  color: $white;

  p {
    font-size: 1.4rem;
    font-weight: 200;
  }
}

.activity-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $opaque-black-halfly;
}

.article-cards-wrapper {
  overflow: hidden;
}

.horizontal-scroll-container {
  flex-wrap: nowrap;
  margin-bottom: -15px;
  padding-bottom: 15px;
  width: inherit;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.cream-background {
  background-color: $brand-cream;
}

.index-title {
  text-align: center;
  font-family: Oswald, sans-serif;
  font-size: 3rem;
}

.index-title-border {
  margin-top: 1rem;
  width: 30vw;
}

.index-about-alpha {
  .about-text {
    font-size: 1.5rem;
    hyphens: none;
  }

  .about-v {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;

    .about-v-image {
      width: 100%;
      clip-path: circle();
      object-fit: cover;
      max-width: 25rem;
    }

    .about-v-title {
      margin-top: 1rem;
      text-align: center;
      color: $brand-secondary;
      font-family: Oswald, sans-serif;
    }

    .about-v-text {
      text-align: justify;
      line-height: 1.6rem;
      font-size: 1.3rem;
    }
  }
}

.index-videos-section {
  background: linear-gradient(90deg, rgba(0 0 0 / 50%) 0%, $brand-secondary 100%), $brand-secondary;
}