.forgot-password-label {
  margin-top: 0;
  font-size: 10px;
}

.login-button {
  margin-top: 2px;
  width: 100%;
}

.password-forgot-holder {
  margin-bottom: 10px;
  padding-right: inherit;
  padding-left: inherit;
}

.password-textfield {
  margin-bottom: 0;
}
