// A photo in the overview of a photo album
.photo-album-image-card {
  position: relative;
  padding: 5px;

  .comments-counter {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    margin-left: 15px;
    padding-left: 5px;
  }

  .image {
    border-radius: $card-border-radius;
    width: 100%;
    height: auto;
  }
}

// A single photo
.photo-large {
  max-height: 70vh;
}

.lightbox-thumbnail {
  opacity: 0.5;

  &.selected {
    opacity: 1;
  }
}
