.photo-and-comments-card {
  height: 400px;
  overflow: hidden;

  img {
    object-fit: cover;
  }
}

.photo-comments-and-input-holder {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.photo-comment-scroll-container {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
  max-height: inherit;
  overflow-y: scroll;
  overflow-x: hidden;
}
