// A photo in the overview of a photo album
.photo-album-image-card {
  padding: 5px;

  .comments-counter {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    margin-left: 10px;
    padding-left: 5px;
  }

  .image {
    border-radius: $card-border-radius;
    width: 100%;
    height: auto;
  }
}

// A single photo
.photo-large {
  margin: 0 0 8px;
  max-height: 70vh;
}

.lightbox-thumbnail {
  opacity: .5;

  &.selected {
    opacity: 1;
  }
}
