.public {
  .public-title {
    margin-bottom: 1rem;
    text-align: center;
    font-family: "Libre Franklin", sans-serif;
    font-size: 3rem;

    &.public-title-smaller {
      margin-bottom: 0.8rem;
      font-size: 2.5rem;
    }
  }

  .public-text {
    width: 80vw;
    font-size: 1.5rem;
    hyphens: none;
  }

  .public-title-border {
    width: 30vw;
  }

  .public-no-items-text {
    text-align: center;
    font-size: 1.2rem;
  }

  .red-container{
    position: relative;
    background: linear-gradient(90deg, rgba(0 0 0 / 40%) 0%, $brand-secondary 100%), $brand-secondary;
    left: 50%;
    padding: 1rem;
    margin-left: -50vw;
    width: 100vw;
    max-width: 100vw;

    .public-title,.public-title-smaller{
      color: $brand-cream;
    }

    .public-title-border{
      border-color: $brand-primary-dark;
    }
  }
}
