<p>Weet je zeker dat je deze informatie pagina wilt verwijderen?</p>

<button {{on 'click' destroyModel}} class='btn btn-danger' type='button'>Ja</button>
<button {{on 'click' cancel}} class="btn btn-default" type="button">Nee</button>

{{#if errorMessage}}
  <div class='text-danger'>{{this.errorMessage}}</div>
{{/if}}