<EmberWormhole @to='navbar-wormhole'>
  <PageActionsButtons @pageActions={{pageActions}} />
</EmberWormhole>

<div class='card'>
  <div class='card-header'>
    <h1>{{@model.title}}</h1>
  </div>
  <div class='card-body'>
    <p>
      {{markdown-to-html
        @model.contentCamofied
        extensions='youtubeEmbed bootstrapTable'
      }}
    </p>
  </div>
</div>