.chess {
  //height: calc(0.8 * (100vh - $navbar-height));
  //.card-body {
  //  margin: 30px;
  //}
  .chess-square {
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
