.name-trainer {
  .card-header > .card-title,
  .card-header > .card-subtitle {
    margin-bottom: 0;
  }

  .trainer-question {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .progress {
    margin: 0 10px;
  }

  .trainer-options {
    margin: 0 -14px;

    .trainer-option:first-of-type {
      border-top-width: 1px;
    }
  }

  .trainer-option:hover,
  .trainer-option:active {
    background-color: $brand-primary;
    cursor: pointer;
  }

  .trainer-thumb-large,
  .trainer-thumb-small,
  .trainer-thumb-tiny {
    border-radius: 50%;
  }

  .trainer-thumb-large {
    width: 200px;
    height: 200px;
  }

  .trainer-thumb-small {
    width: 50px;
    height: 50px;
  }

  .trainer-thumb-tiny {
    width: 25px;
    height: 25px;
  }

  .trainer-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .trainer-image {
    flex: 50%;
    border: 0;
    text-align: center;

    img {
      border-radius: 50%;
      width: 100%;
      max-width: 200px;
      height: auto;
    }
  }
}
