<p>Weet je zeker dat je dit formulierantwoord  wilt verwijderen?</p>
<div class="table-responsive card">
  <table class="table">
    <thead>
      <tr>
        <th> Naam </th>
        {{#each @model.form.sortedQuestions as |question|}}
          <th> {{question.question}} </th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{form/responses-table-row @model.form model}}
    </tbody>
  </table>
</div>

<button {{action "destroy"}} class="btn btn-danger" type="button">Ja</button>
<LinkTo @route="activities.index" class="btn btn-default" @tagName="button">Nee</LinkTo>

{{#if errorMessage}}
  <div class="text-danger">{{this.errorMessage}}</div>
{{/if}}
