<p>Weet je zeker dat je deze mail ({{model.subject}})  wil goedkeuren?</p>
<p>Er wordt een bericht naar de afzender gestuurd dat dit bericht is goedgekeurd.</p>

<button {{action "submit"}} class="btn btn-danger">Ja</button>
{{#link-to "mail-moderations.show" model class="btn btn-default" tagName="button"}}Nee{{/link-to}}

{{#if errorMessage}}
  <div class="text-danger">{{errorMessage}}</div>
{{/if}}
