<p>Weet je zeker dat je deze mail ({{@model.subject}}) wil negeren?</p>
<p>Er wordt geen bericht gestuurd naar de afzender.</p>

<button {{action 'destroy'}} class='btn btn-danger' type='button'>Ja</button>
<LinkTo
  @route='mail-moderations.show'
  @model={{model.id}}
  class='btn btn-default'
>
  Nee
</LinkTo>

{{#if errorMessage}}
  <div class='text-danger'>{{this.errorMessage}}</div>
{{/if}}