<p>Weet je zeker dat je deze mail ({{model.subject}})  wil negeren?</p>
<p>Er wordt geen bericht gestuurd naar de afzender.</p>

<button {{action "destroy"}} class="btn btn-danger" type="button">Ja</button>
<LinkTo @route="mail-moderations.show" @model={{model}} class="btn btn-default" @tagName="button">Nee</LinkTo>

{{#if errorMessage}}
  <div class="text-danger">{{errorMessage}}</div>
{{/if}}
