<p>Weet je zeker dat je deze mail ({{@model.subject}}) wil afkeuren?</p>
<p>Er wordt een bericht naar de afzender gestuurd dat dit bericht is afgekeurd.</p>

<button {{action 'submit'}} class='btn btn-danger' type='button'>Ja</button>
<LinkTo
  @route='mail-moderations.show'
  @model={{@model.id}}
  class='btn btn-default'
>
  Nee
</LinkTo>

{{#if this.errorMessage}}
  <div class='text-danger'>{{this.errorMessage}}</div>
{{/if}}