<p>Weet je zeker dat je deze mail ({{@model.subject}}) wil goedkeuren?</p>
<p>
  Er wordt een bericht naar de afzender gestuurd dat dit bericht is goedgekeurd.
</p>

<button {{on 'click' submit}} class='btn btn-danger' type='button'>Ja</button>
<LinkTo
  @route='mail-moderations.mail-moderation'
  @model={{@model.id}}
  class='btn btn-default'
>
  Nee
</LinkTo>

{{#if this.errorMessage}}
  <div class='alert alert-danger mt-3' role='alert'>
    <strong>{{this.errorMessage}}</strong>
  </div>
{{/if}}