<EmberWormhole @to='navbar-wormhole'>
  <PageActionsButtons @pageActions={{pageActions}}>
    <Tools::StudyRoomPresence />
    <Tools::BoardRoomPresence />
  </PageActionsButtons>
</EmberWormhole>

<div class='article-cards-wrapper full-width-small-screens ps-3 ps-md-0'>
  <div class='row pb-3 horizontal-scroll-container'>
    {{#each @articles as |article|}}
      {{cards/public-article-card article class='col-10 col-sm-8 col-lg-4'}}
    {{/each}}
  </div>
</div>

<div class='d-flex full-width-small-screens'>
  <AdvertisementTool />
</div>

{{!-- Desktop version --}}
<div class="row pt-4 mx-n2 d-none d-md-flex">
  <div class="col-12 col-md-6 px-2">
    <Index::SponsorkliksAlert />
    <Tools::DailyVerse />
    {{#if (can 'show photo-albums')}}
      <Tools::RecentPhotos />
    {{/if}}
    {{#if (can 'show polls')}}
      <Tools::RecentPolls />
    {{/if}}
  </div>
  
  <div class="col-12 col-md-6 px-2">
    {{#if (can 'show activities')}}
      {{#if (can 'create form/responses')}}
        <Tools::ClosingActivities />
      {{/if}}
      <Tools::UpcomingActivities />
    {{/if}}
    {{#if (can 'show users')}}
      <Tools::UpcomingBirthdays />
    {{/if}}
    {{#if (can 'show forum/posts')}}
      <Tools::ForumPosts />
    {{/if}}
  </div>
</div>

{{!-- Mobile version --}}
<div class="row pt-4 mx-n2 d-flex d-md-none">
  <Index::SponsorkliksAlert />
  <Tools::DailyVerse />
  {{#if (can 'show activities')}}
    {{#if (can 'create form/responses')}}
      <Tools::ClosingActivities />
    {{/if}}
    <Tools::UpcomingActivities />
  {{/if}}
  {{#if (can 'show users')}}
    <Tools::UpcomingBirthdays />
  {{/if}}
  {{#if (can 'show forum/posts')}}
    <Tools::ForumPosts />
  {{/if}}
  {{#if (can 'show polls')}}
    <Tools::RecentPolls />
  {{/if}}
  {{#if (can 'show photo-albums')}}
    <Tools::RecentPhotos />
  {{/if}}
</div>