<Index::Public::BackgroundImage />

<div class="container-fluid index-header">
  <img src='images/alphalogowhite-large.svg' class="image">
</div>

<div class="index-yellow-bar full-width">
  <div class="container">
    <Index::Public::AboutAlpha/>
    <Index::Public::Activities/>
  </div>
</div>

<Index::Public::StaticPages @class="full-width" />

<div class="flex-items-xs-center index-promo-video">
  <Index::Public::YoutubeVideos />
</div>

<Index::Public::ActionButtons />

<div class="row">
  <div class="col-xs col-md-12">
    <Index::Public::Articles @articles={{@articles}}/>
    <Index::Public::Photos />

    <AdvertisementTool @row={{true}} />

    <Index::Public::MemberStories />
    <Index::Public::AboutFlux />
  </div>
</div>
