{{#if showAlert}}
  <div class='col-12 alert alert-info'>
    <button
      type='button'
      class='close'
      data-dismiss='alert'
      aria-label='Close'
      {{on 'click' this.closePopup}}
    >
      <span aria-hidden='true'>&times;</span>
    </button>

    We hebben een supertoffe chrome/firefox extensie voor onze C.S.V. Alpha
    Sponsorkliks.<br />
    Hoe werkt dat? Heel simpel, jij installeert de extensie en als je wat koopt
    bij verschillende webshops verdient Alpha er ook nog wat aan. De uitgebreide
    uitleg vind je
    <b>
      <LinkTo @route='static-pages.show' @model='alpha-deals'>hier</LinkTo>
    </b>.

    <br /><br />

    {{#if isFirefox}}
      <a
        href='https://addons.mozilla.org/nl/firefox/addon/csvalpha-sponsor-extensie/'
      >
        <b>Klik hier om de Firefox extensie te installeren.</b>
      </a>

    {{/if}}
    {{#if isChrome}}
      <a
        href='https://chrome.google.com/webstore/detail/csv-alpha-sponsor-extensi/anlcblpmlnecbomgkbmfngcpbaciipml?hl=nl'
      >
        <b>Klik hier om de Chrome extensie te installeren.</b>
      </a>
    {{/if}}
  </div>
{{/if}}