<div class='card'>
  <div class='card-header'>
    <h5>Artikel verwijderen</h5>
  </div>
  <div class='card-block p-3'>
    <p class='card-text'>
      Weet je zeker dat je dit artikel ({{@model.title}}) wil verwijderen?
    </p>
    {{#if errorMessage}}
      <div class='text-danger'>{{this.errorMessage}}</div>
    {{/if}}
  </div>
  <div class='card-footer'>
    <button {{action 'destroyModel'}} class='btn btn-danger' type='button'>
      Artikel verwijderen
    </button>
    <LinkTo @route='articles.show' @model={{model.id}} class='btn btn-default'>
      Annuleren
    </LinkTo>
  </div>
</div>