{{#ember-wormhole to="navbar-wormhole"}}
  {{#page-actions-buttons pageActions=pageActions}}
    {{filter-bar class="col-12 col-md" filter=search sortedAttribute=sortedAttribute sortableAttributes=sortableAttributes sortedAscending=sortedAscending  enter=(action "selectFirstItem")}}
  {{/page-actions-buttons}}
{{/ember-wormhole}}

<div class="row">
  {{#each pagedModel as |article|}}
    <div class="article-col col-md-6">
      {{#link-to 'articles.show' article}}
        {{cards/article-card article showExcerpt=true useMaxHeight=true}}
      {{/link-to}}
    </div>
  {{/each}}
</div>

<div class="row justify-content-center">
  {{page-numbers content=paginator}}
</div>
