<video class="teapot-video" autoplay loop muted controls>
  <source src="images/teapot.mp4" type="video/mp4">
  Je browser ondersteunt de video niet.
</video>
<div class="container">
  <div class="row flex-items-xs-center">
    <div class="col-md-6 teapot-error-holder">
      <h1 class="teapot-error-title"> 418 - I'm a teapot</h1>
      <p class="teapot-error-button">
        {{#link-to 'application' class="btn btn-primary"}}Terug{{/link-to}}
      </p>
    </div>
  </div>
</div>
