name: Continuous Integration

on:
  push:
    branches: [staging, master]
  pull_request:
  workflow_call:
    inputs:
      sha:
        description: The commit SHA to run the workflow on
        required: false
        type: string

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # tag=v3.1.0
        with:
          ref: ${{ inputs.sha }}

      - name: Build test image
        uses: guidojw/actions/build-docker-image@5faa9418b42a6a77f81e11ae935287900673f98b # tag=v1.3.2
        with:
          file: Dockerfile
          target: base
          name: app

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # tag=v3.1.0
        with:
          ref: ${{ inputs.sha }}

      - name: Add problem matchers
        run: |
          echo '::add-matcher::.github/problem-matchers/actionlint.json'
          echo '::add-matcher::.github/problem-matchers/ember-template-lint.json'
          echo '::add-matcher::.github/problem-matchers/eslint-stylish.json'
          echo '::add-matcher::.github/problem-matchers/stylelint.json'

      - name: Download actionlint
        run: |
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash) 1.6.16

      - name: Set up Node.js
        uses: actions/setup-node@969bd2663942d722d85b6a8626225850c2f7be4b # tag=v3.5.0
        with:
          node-version-file: .nvmrc

      - name: Load test image
        uses: guidojw/actions/load-docker-image@5faa9418b42a6a77f81e11ae935287900673f98b # tag=v1.3.2
        with:
          name: app

      - name: Lint
        # Convert output of stylelint so that the problem matcher can match it correctly.
        run: |
          EXIT_STATUS=0
          ./actionlint -ignore 'property "app_private_key" is not defined' -ignore 'SC2153:' \
            -ignore 'property "sha" is not defined in object type {}' || EXIT_STATUS=$?
          docker run app yarn lint:hbs || EXIT_STATUS=$?
          docker run app yarn lint:js || EXIT_STATUS=$?
          STYLELINT_OUTPUT="$(docker run app yarn lint:scss)" || EXIT_STATUS=$?
          node bin/convert-stylelint-output.js "$STYLELINT_OUTPUT"
          exit $EXIT_STATUS

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Load test image
        uses: guidojw/actions/load-docker-image@5faa9418b42a6a77f81e11ae935287900673f98b # tag=v1.3.2
        with:
          name: app

      - name: Test
        run: |
          docker run -e CI=true -t app yarn test:ember
