.board{
  .members{
    .member{
      margin: 2rem 0;
      padding: 0 5%;
    }
  }
}

.old-boards-section{
  .old-board-title{
    margin-top: 0.5rem;
    text-align: center;
    font-family: "Libre Franklin", sans-serif;
    font-size: 2.0rem;
  }
}
